<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DemoServletApp</display-name>
  
  
  <servlet>
	  <servlet-name>add</servlet-name>
	  <servlet-class>com.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>add</servlet-name>
	  <url-pattern>/add</url-pattern>
  </servlet-mapping>
<!--   -->
    <servlet>
	  <servlet-name>addpost</servlet-name>
	  <servlet-class>com.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>addpost</servlet-name>
	  <url-pattern>/addpost</url-pattern>
  </servlet-mapping>
<!-- -->
    <servlet>
	  <servlet-name>addget</servlet-name>
	  <servlet-class>com.servlet.AddGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>addget</servlet-name>
	  <url-pattern>/addget</url-pattern>
  </servlet-mapping>

<!-- Sqrt  -->
    <servlet>
	  <servlet-name>sqrt</servlet-name>
	  <servlet-class>com.servlet.SqrtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>sqrt</servlet-name>
	  <url-pattern>/sq</url-pattern>
  </servlet-mapping>
  
  <!--  servletConfigContext-->
      <servlet>
	  <servlet-name>svcgct</servlet-name>
	  <servlet-class>com.servlet.ServletConfigContext</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>svcgct</servlet-name>
	  <url-pattern>/svcgct</url-pattern>
  </servlet-mapping>
  
  
  <!--  prebuild tags  -->
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Sandeep</param-value>
  </context-param>
  
  <context-param>
  	<param-name>phone</param-name>
  	<param-value>iPhone</param-value>
  </context-param>
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>